BasedOnStyle: Google
SortIncludes: true
IncludeBlocks: Regroup
ColumnLimit: 120
IndentWidth: 2
ContinuationIndentWidth: 4
AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: None
AccessModifierOffset: -2
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
InsertBraces: true
